* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* brand */
  --brand-light: #f67841;
  --brand-mid: #f3541c;
  --brand-dark: #e43a12;

  /* text */
  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  /* surface */
  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  /* stroke */
  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;

  /* semantic */
  --semantic-error: #dc2626;

  /* supporting  */
  --orange: #f9a474;
  --yellow: #fedf6f;
  --green: #c7d78d;
  --blue: #b8cedc;
  --violet: #c3b2e7;
  --pink: #f682a5;

  /* typography */
  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.85rem/1.4 var(--font-family);
  --title: 600 2.5rem/1.25 var(--font-family);
  --h1: 700 2rem/120% var(--font-family);
  --h2: 700 1.5rem/120% var(--font-family);
  --h3: 700 1.25px/120% var(--font-family);
  --h4: 700 1rem/120% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-primary);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 1.5rem;
}
