.container {
  padding: 4rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.column-gap-8 {
  column-gap: 0.5rem;
}

.row-gap-8 {
  row-gap: 0.5rem;
}

.row-gap-16 {
  row-gap: 1rem;
}

.row-gap-24 {
  row-gap: 1.5rem;
}

.row-gap-32 {
  row-gap: 2rem;
}

.row-gap-48 {
  row-gap: 3rem;
}

.title {
  font: var(--title);
}

.h2 {
  font: var(--h2);
}

.h4 {
  font: var(--h4);
}

.text-secondary {
  color: var(--text-secondary);
}

label.form-label {
  display: inline-block;
  font: var(--text-sm);
  color: var(--text-secondary);
  margin-bottom: 0.25rem;
}

input,
select,
textarea {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 1px, var(--stroke-default) solid;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  width: 100%;
  background-color: var(--surface-primary);

  &:focus-within {
    outline: 0.25rem solid var(--surface-secondary);
    border: 0.125rem, solid, var(--stroke-highlight) !important;
  }
}

input.form-control {
  &[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      z-index: 1;
    }

    &::after {
      content: url(/assets/icons/calendar-03.svg);

      position: absolute;
      height: 1.5rem;
      right: 1rem;

      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[type="file"] {
    color: transparent;

    &::file-selector-button {
      display: none;
    }

    width: 100%;
    height: 10rem;
    padding: 1.5rem 1rem;

    border: dashed 1px var(--stroke-default);
    border-radius: 0.5rem;

    cursor: pointer;

    display: flex;

    &::before {
      background-image: url(/assets/icons/cloud-upload.svg);

      margin-top: 0.25rem;
      justify-self: center;
      content: "";
      width: 3rem;
      height: 3rem;
    }

    &:hover,
    &:focus {
      border: 0.125rem dashed var(--stroke-highlight) !important;
      background-color: var(--surface-secondary);

      &::before {
        background-image: url(/assets/icons/cloud-upload-hover.svg);
      }
    }

    &::after {
      width: 9.8125rem;

      color: #a8a29e;
      font: var(--text);
      justify-self: center;
      text-wrap: wrap;
      content: "Clique aqui para selecionar arquivos";
      text-align: center;
    }
  }
}

select {
  background: no-repeat calc(100% - 1rem) url(/assets/icons/arrow-down-01.svg);
}

select:open {
  background-image: url(/assets/icons/arrow-up-01.svg);
}

textarea.form-control {
  height: 7.5rem;
}
