.container {
  padding: 4rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.grid {
  display: grid;
}

.gap-16 {
  gap: 1rem;
}

.column-gap-8 {
  column-gap: 0.5rem;
}

.column-gap-16 {
  column-gap: 1rem;
}

.row-gap-8 {
  row-gap: 0.5rem;
}

.row-gap-16 {
  row-gap: 1rem;
}

.row-gap-24 {
  row-gap: 1.5rem;
}

.row-gap-32 {
  row-gap: 2rem;
}

.row-gap-48 {
  row-gap: 3rem;
}

.title {
  font: var(--title);
}

.h2 {
  font: var(--h2);
}

.h4 {
  font: var(--h4);
}

.text-secondary {
  color: var(--text-secondary);
}

label.form-label {
  display: inline-block;
  font: var(--text-sm);
  color: var(--text-secondary);
  margin-bottom: 0.25rem;

  &:has(+ :disabled),
  & + input:is(:disabled) {
    opacity: 50%;
  }

  & > span {
    color: var(--stroke-highlight);
  }
}

.form-control,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font: var(--text);

  border: 1px, var(--stroke-default) solid;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  width: 100%;
  background-color: var(--surface-primary);

  &:focus-within {
    outline: 0.25rem solid var(--surface-secondary);
    border: 0.125rem, solid, var(--stroke-highlight) !important;
  }

  &:disabled {
    background-color: var(--surface-disabled);
  }

  &:invalid {
    border: 0.125rem var(--semantic-error) solid;
  }

  &:not(:focus):valid + .error-msg {
    display: none;
  }

  &[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      z-index: 1;
    }

    &::after {
      content: url(/assets/icons/calendar-03.svg);

      position: absolute;
      height: 1.5rem;
      right: 1rem;

      top: 50%;
      transform: translateY(-50%);
    }
  }

  &[type="file"] {
    color: transparent;

    &::file-selector-button {
      display: none;
    }

    width: 100%;
    height: 10rem;
    padding: 1.5rem 1rem;

    border: dashed 1px var(--stroke-default);
    border-radius: 0.5rem;

    cursor: pointer;

    display: flex;

    &::before {
      background-image: url(/assets/icons/cloud-upload.svg);

      margin-top: 0.25rem;
      justify-self: center;
      content: "";
      width: 3rem;
      height: 3rem;
    }

    &:hover,
    &:focus {
      border: 0.125rem dashed var(--stroke-highlight) !important;
      background-color: var(--surface-secondary);

      &::before {
        background-image: url(/assets/icons/cloud-upload-hover.svg);
      }
    }

    &::after {
      width: 9.8125rem;

      color: #a8a29e;
      font: var(--text);
      justify-self: center;
      text-wrap: wrap;
      content: "Clique aqui para selecionar arquivos";
      text-align: center;
    }
  }
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  inset: 0;
  cursor: pointer;
  z-index: 1;
}

.form-check-container > div.flex {
  flex-wrap: wrap;
}

.form-check {
  min-width: 7.5rem;

  background-color: var(--surface-primary);
  border: solid var(--stroke-default) 1px;
  border-radius: 0.5rem;
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  align-items: center;

  position: relative;

  cursor: pointer;

  &:hover,
  &:hover > .form-check-input,
  &:has(input[type="radio"]:checked) {
    border-color: var(--stroke-highlight);
  }

  & > input[type="radio"]:checked + .form-check-input {
    background-color: var(--stroke-highlight);
    border-color: var(--stroke-highlight);
  }

  & > img {
    margin-bottom: 0.5rem;
    width: 3rem;
  }

  & > .form-check-input {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 1rem;
  }
}

.custom-checkbox {
  display: grid;
  column-gap: 0.75rem;
  grid-auto-flow: column;
  grid-template-columns: 1.5rem 1fr;

  & > .form-label {
    font: var(--text);
    cursor: pointer;
  }

  & > .form-check-input {
    position: relative;
    border-radius: 0.5rem;
  }
}

.form-check-input {
  border: var(--stroke-default) solid 0.125rem;
  width: 1.5rem;
  height: 1.5rem;

  &:has(input:checked) {
    background-color: var(--stroke-highlight);
    border-color: var(--stroke-highlight);
  }

  &:hover,
  &:has(+ .form-label:hover) {
    border-color: var(--stroke-highlight);
  }

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & > path {
      fill: var(--surface-primary);
    }
  }
}

select {
  background: no-repeat calc(100% - 1rem) url(/assets/icons/arrow-down-01.svg);
}

select:open {
  background-image: url(/assets/icons/arrow-up-01.svg);
}

textarea.form-control {
  height: 7.5rem;
}

.helper-text {
  color: #78716c;
  font: var(--text-sm);

  display: inline-block;
  margin-top: 0.25rem;
}

.error-msg {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  margin-top: 0.25rem;

  color: var(--semantic-error);
  font: var(--text-sm);

  & > img {
    width: 1.25rem;
  }
}

.btn-group {
  padding-top: 1rem;
  justify-content: end;
  column-gap: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-highlight);
  background-color: var(--surface-primary);
  color: var(--text-highlight);
  font: inherit;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--brand-dark);
  color: var(--surface-primary);

  &:hover {
    background-color: var(--brand-mid);
  }
}

.btn.btn-secondary:hover {
  outline: solid 0.25rem var(--surface-secondary);
}
