.residential-info > div {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.25rem;

  & > div:nth-child(1) {
    grid-column: 1/4;
  }

  & > div:nth-child(2) {
    grid-column: 1/3;
  }

  & > div:nth-child(4) {
    grid-column: 1/3;
  }
}
